click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1

scipy==1.4.1
# Numpy v1.17 ne compile pas correctement. Utiliser une version supérieure.
numpy>=1.18.0
matplotlib==3.1.1
deap==1.3.0
pandas==0.25.1
xlrd==1.2.0
openpyxl==3.0.3
